@model int 

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("cart","customer")">
        <i class="bi bi-cart" style="font-size: 17px; color:white;">
            <span class="badge rounded-pill badge-notification bg-danger">@Model</span>
        </i>
    </a>
</li>
