@model Brandedkart.DTO.Product.CartDTO

<li class="list-group-item d-flex justify-content-between lh-sm">
    <div>
        <h6 class="my-0">Product name</h6>
        <small class="text-muted">@Model.Product_Name</small>
    </div>
    <span class="text-muted">OMR @Model.Product_Price</span>
</li>
